.todo-form input {
    width: 250px;
    height: 25px;
    margin: 0 10px 50px 0;
    padding: 2px;
    font-size: 22px;
}

.todo-form button {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    padding: 2px;
    font-size: 22px;
}

.todo-list {
    padding-bottom: 80px;
}

.done {
    text-decoration: line-through;
}

.todo {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto 20px auto;
}